[submodule "external/magic-code-gen"]
	path = external/magic-code-gen
	url = https://github.com/ryanmaclean/magic-code-gen.git

[submodule "openvscode-server"]
	path = openvscode-server
	url = https://github.com/gitpod-io/openvscode-server.git

[submodule "plugins/tundra-nat64"]
	path = plugins/tundra-nat64
	url = https://github.com/vitlabuda/tundra-nat64
