openapi: 3.0.3
info:
  title: VibeCode WebGUI API
  version: 1.0.0
  description: |
    Comprehensive API for VibeCode WebGUI - a development platform with AI-powered coding assistance,
    workspace management, and collaborative development tools.

    ## Security Features
    - CSRF Protection with double-submit cookie pattern
    - Rate limiting with Redis/Valkey backend
    - JWT-based authentication with NextAuth.js
    - Multi-factor authentication (TOTP, SMS, Email)
    - Request validation with Zod schemas
    - Security headers and CORS protection

    ## Authentication
    The API supports multiple authentication methods:
    - OAuth2 (GitHub, Google)
    - Credentials-based with secure password hashing
    - JWT tokens for session management
    - CSRF tokens for state-changing operations

    ## Rate Limiting
    Different endpoints have different rate limits:
    - Strict: 5 requests per minute
    - Auth: 10 requests per 5 minutes
    - API: 100 requests per minute (bypassed for authenticated users)
    - Upload: 5 requests per 5 minutes

  contact:
    name: VibeCode Team
    url: https://vibecode.dev
    email: support@vibecode.dev
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://vibecode.dev/api
    description: Production server
  - url: http://localhost:3000/api
    description: Development server

security:
  - BearerAuth: []
  - CookieAuth: []
  - CSRFToken: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token from NextAuth.js authentication
    
    CookieAuth:
      type: apiKey
      in: cookie
      name: next-auth.session-token
      description: Session cookie from NextAuth.js
    
    CSRFToken:
      type: apiKey
      in: header
      name: x-csrf-token
      description: CSRF token for state-changing operations (required with cookie auth)

  schemas:
    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: Error type or code
        message:
          type: string
          description: Human-readable error message
        details:
          type: object
          description: Additional error details
        requestId:
          type: string
          format: uuid
          description: Unique request identifier for debugging

    RateLimitHeaders:
      type: object
      properties:
        X-RateLimit-Limit:
          type: integer
          description: Maximum number of requests allowed in the time window
        X-RateLimit-Remaining:
          type: integer
          description: Number of requests remaining in the current time window
        X-RateLimit-Reset:
          type: integer
          description: Unix timestamp when the rate limit resets

    PaginationQuery:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
          default: 1
          description: Page number (1-indexed)
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
          description: Number of items per page
        offset:
          type: integer
          minimum: 0
          description: Number of items to skip (alternative to page)

    User:
      type: object
      properties:
        id:
          type: string
          description: Unique user identifier
        email:
          type: string
          format: email
          description: User email address
        name:
          type: string
          description: User display name
        image:
          type: string
          format: uri
          description: User avatar image URL
        role:
          type: string
          enum: [user, admin, developer]
          description: User role and permissions level
        createdAt:
          type: string
          format: date-time
          description: Account creation timestamp
        lastLoginAt:
          type: string
          format: date-time
          description: Last successful login timestamp

    Workspace:
      type: object
      required:
        - id
        - projectName
        - framework
        - status
      properties:
        id:
          type: string
          pattern: ^[a-zA-Z0-9_-]+$
          description: Unique workspace identifier
        projectId:
          type: string
          description: Associated project identifier
        projectName:
          type: string
          maxLength: 200
          description: Human-readable project name
        framework:
          type: string
          maxLength: 50
          description: Development framework (e.g., 'react', 'nextjs', 'python')
        userId:
          type: string
          description: Owner user ID
        status:
          type: string
          enum: [creating, active, stopped, error, deleting]
          description: Current workspace status
        files:
          type: object
          additionalProperties:
            type: string
          description: File system structure (path -> content mapping)
        dependencies:
          type: array
          items:
            type: string
          description: Package dependencies
        environment:
          type: object
          additionalProperties:
            type: string
          description: Environment variables
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ChatMessage:
      type: object
      required:
        - role
        - content
      properties:
        role:
          type: string
          enum: [system, user, assistant]
          description: Message role in conversation
        content:
          type: string
          maxLength: 100000
          description: Message content (max 100KB)
        timestamp:
          type: string
          format: date-time
          description: Message timestamp

    AIModelInfo:
      type: object
      properties:
        id:
          type: string
          description: Model identifier
        name:
          type: string
          description: Human-readable model name
        provider:
          type: string
          enum: [anthropic, openai, huggingface, litellm, ollama]
          description: AI model provider
        maxTokens:
          type: integer
          description: Maximum context window size
        capabilities:
          type: array
          items:
            type: string
            enum: [chat, code, functions, embeddings, image]
          description: Model capabilities

    MFADevice:
      type: object
      required:
        - id
        - type
        - name
      properties:
        id:
          type: string
          description: Unique device identifier
        type:
          type: string
          enum: [totp, sms, email]
          description: MFA method type
        name:
          type: string
          maxLength: 50
          description: User-friendly device name
        isActive:
          type: boolean
          description: Whether the device is active
        createdAt:
          type: string
          format: date-time
        lastUsedAt:
          type: string
          format: date-time

    HealthStatus:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
          description: Overall system health
        timestamp:
          type: string
          format: date-time
        services:
          type: object
          properties:
            database:
              $ref: '#/components/schemas/ServiceStatus'
            redis:
              $ref: '#/components/schemas/ServiceStatus'
            ai:
              $ref: '#/components/schemas/ServiceStatus'
            memory:
              $ref: '#/components/schemas/ServiceStatus'
            disk:
              $ref: '#/components/schemas/ServiceStatus'

    ServiceStatus:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        responseTime:
          type: number
          description: Response time in milliseconds
        message:
          type: string
          description: Status message or error details

paths:
  # Authentication Endpoints
  /auth/csrf:
    get:
      tags: [Authentication]
      summary: Get CSRF token
      description: |
        Retrieves a CSRF token for client-side requests. The token is also set as a secure HttpOnly cookie.
        Required for all state-changing operations when using cookie-based authentication.
      security: []
      responses:
        '200':
          description: CSRF token retrieved successfully
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Auth rate limit
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: object
                properties:
                  csrfToken:
                    type: string
                    description: CSRF token for request headers
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/mfa/setup:
    post:
      tags: [Authentication, MFA]
      summary: Setup MFA device
      description: Configures a new multi-factor authentication device for the user
      security:
        - BearerAuth: []
        - CookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - name
              properties:
                type:
                  type: string
                  enum: [totp, sms, email]
                  description: MFA method type
                name:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: User-friendly device name
                phoneNumber:
                  type: string
                  pattern: ^\+?[1-9]\d{1,14}$
                  description: Phone number (required for SMS)
                email:
                  type: string
                  format: email
                  description: Email address (required for email MFA)
      responses:
        '200':
          description: MFA setup initiated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceId:
                    type: string
                    description: Unique device identifier
                  setupToken:
                    type: string
                    description: Token for setup verification
                  qrCode:
                    type: string
                    description: QR code for TOTP setup (base64 encoded)
                  backupCodes:
                    type: array
                    items:
                      type: string
                    description: Backup codes for account recovery
        '400':
          description: Invalid request
        '401':
          description: Authentication required

  /auth/mfa/verify:
    post:
      tags: [Authentication, MFA]
      summary: Verify MFA setup
      description: Completes MFA device setup by verifying the token
      security:
        - BearerAuth: []
        - CookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - deviceId
                - token
                - setupToken
              properties:
                deviceId:
                  type: string
                  description: Device ID from setup response
                token:
                  type: string
                  pattern: ^\d{6,8}$
                  description: 6-8 digit verification code
                setupToken:
                  type: string
                  description: Setup token from initial setup
      responses:
        '200':
          description: MFA device verified and activated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  device:
                    $ref: '#/components/schemas/MFADevice'
        '400':
          description: Invalid verification code or setup token
        '401':
          description: Authentication required

  # AI Chat Endpoints
  /ai/chat:
    post:
      tags: [AI, Chat]
      summary: Send AI chat message
      description: |
        Sends a message to AI models for code assistance, explanations, or general chat.
        Supports streaming responses and context awareness with workspace files.
      security:
        - BearerAuth: []
        - CookieAuth: []
        - CSRFToken: []
      parameters:
        - name: x-csrf-token
          in: header
          required: true
          schema:
            type: string
          description: CSRF token (when using cookie auth)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
                  minLength: 1
                  maxLength: 100000
                  description: User message or question
                messages:
                  type: array
                  items:
                    $ref: '#/components/schemas/ChatMessage'
                  maxItems: 100
                  description: Previous conversation context
                model:
                  type: string
                  default: "anthropic/claude-3.5-sonnet"
                  description: AI model to use
                temperature:
                  type: number
                  minimum: 0
                  maximum: 2
                  default: 0.7
                  description: Response creativity (0=deterministic, 2=creative)
                max_tokens:
                  type: integer
                  minimum: 1
                  maximum: 32000
                  description: Maximum response length
                stream:
                  type: boolean
                  default: false
                  description: Enable streaming response
                workspaceId:
                  type: string
                  pattern: ^[a-zA-Z0-9_-]+$
                  description: Workspace context for file awareness
                context:
                  type: object
                  properties:
                    workspaceId:
                      type: string
                    files:
                      type: array
                      items:
                        type: string
                      maxItems: 20
                      description: File paths to include in context
                    previousMessages:
                      type: array
                      items:
                        $ref: '#/components/schemas/ChatMessage'
                      maxItems: 50
                enableTools:
                  type: boolean
                  default: false
                  description: Enable AI function calling
                enableRAG:
                  type: boolean
                  default: true
                  description: Enable retrieval-augmented generation
      responses:
        '200':
          description: AI response generated successfully
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    description: AI response content
                  model:
                    type: string
                    description: Model used for response
                  usage:
                    type: object
                    properties:
                      prompt_tokens:
                        type: integer
                      completion_tokens:
                        type: integer
                      total_tokens:
                        type: integer
                  requestId:
                    type: string
                    format: uuid
            text/event-stream:
              schema:
                type: string
                description: Server-sent events for streaming responses
        '400':
          description: Invalid request parameters
        '401':
          description: Authentication required
        '403':
          description: CSRF token validation failed
        '429':
          description: Rate limit exceeded

  /ai/chat/stream:
    post:
      tags: [AI, Chat]
      summary: Stream AI chat response
      description: |
        Sends a message to AI and receives a streaming response using Server-Sent Events.
        Optimized for real-time conversations with immediate feedback.
      security:
        - BearerAuth: []
        - CookieAuth: []
        - CSRFToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - conversationId
                - message
              properties:
                conversationId:
                  type: string
                  maxLength: 100
                  description: Conversation identifier
                message:
                  type: string
                  minLength: 1
                  maxLength: 100000
                  description: User message
                model:
                  type: string
                  default: "anthropic/claude-3.5-sonnet"
                  description: AI model to use
                workspaceId:
                  type: string
                  default: "default"
                  description: Workspace context
                files:
                  type: array
                  items:
                    type: string
                  default: []
                  description: Files to include in context
                enableWebSearch:
                  type: boolean
                  default: false
                  description: Enable web search capability
                enableRAG:
                  type: boolean
                  default: true
                  description: Enable retrieval-augmented generation
      responses:
        '200':
          description: Streaming response initiated
          content:
            text/event-stream:
              schema:
                type: string
                description: Server-sent events with AI response chunks

  # Workspace Management
  /workspaces:
    get:
      tags: [Workspaces]
      summary: List workspaces
      description: Retrieves a paginated list of user workspaces
      security:
        - BearerAuth: []
        - CookieAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: status
          in: query
          schema:
            type: string
            enum: [creating, active, stopped, error, deleting]
          description: Filter by workspace status
      responses:
        '200':
          description: Workspaces retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspaces:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workspace'
                  total:
                    type: integer
                    description: Total number of workspaces
                  page:
                    type: integer
                    description: Current page number
                  limit:
                    type: integer
                    description: Items per page
                  hasNext:
                    type: boolean
                    description: Whether there are more pages

    post:
      tags: [Workspaces]
      summary: Create workspace
      description: |
        Creates a new development workspace with the specified configuration.
        Provisions resources in Kubernetes cluster if available.
      security:
        - BearerAuth: []
        - CookieAuth: []
        - CSRFToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - projectId
                - projectName
                - framework
                - files
              properties:
                projectId:
                  type: string
                  maxLength: 100
                  description: Unique project identifier
                projectName:
                  type: string
                  minLength: 1
                  maxLength: 200
                  description: Human-readable project name
                framework:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: Development framework
                userId:
                  type: string
                  default: "anonymous"
                  description: Owner user ID
                files:
                  type: object
                  additionalProperties:
                    type: string
                  description: Initial file structure
                dependencies:
                  type: array
                  items:
                    type: string
                  default: []
                  description: Package dependencies
                environment:
                  type: object
                  additionalProperties:
                    type: string
                  default: {}
                  description: Environment variables
      responses:
        '201':
          description: Workspace created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '400':
          description: Invalid request parameters
        '401':
          description: Authentication required
        '503':
          description: Kubernetes cluster not available

  /workspaces/{id}:
    get:
      tags: [Workspaces]
      summary: Get workspace details
      description: Retrieves detailed information about a specific workspace
      security:
        - BearerAuth: []
        - CookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: ^[a-zA-Z0-9_-]+$
          description: Workspace identifier
      responses:
        '200':
          description: Workspace details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '404':
          description: Workspace not found

    put:
      tags: [Workspaces]
      summary: Update workspace
      description: Updates workspace configuration and settings
      security:
        - BearerAuth: []
        - CookieAuth: []
        - CSRFToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: ^[a-zA-Z0-9_-]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                projectName:
                  type: string
                  maxLength: 200
                environment:
                  type: object
                  additionalProperties:
                    type: string
                dependencies:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Workspace updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'

    delete:
      tags: [Workspaces]
      summary: Delete workspace
      description: Permanently deletes a workspace and all associated resources
      security:
        - BearerAuth: []
        - CookieAuth: []
        - CSRFToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: ^[a-zA-Z0-9_-]+$
      responses:
        '204':
          description: Workspace deleted successfully
        '404':
          description: Workspace not found

  # Health and Monitoring
  /health:
    get:
      tags: [Health, Monitoring]
      summary: System health check
      description: |
        Comprehensive health check for all system components including database,
        Redis, AI services, memory, and disk usage.
      security: []
      parameters:
        - name: filter
          in: query
          schema:
            type: string
            enum: [database, redis, ai, memory, disk, all]
            default: all
          description: Filter specific health checks
        - name: format
          in: query
          schema:
            type: string
            enum: [json, text, metrics]
            default: json
          description: Response format
        - name: verbose
          in: query
          schema:
            type: boolean
            default: false
          description: Include detailed diagnostic information
      responses:
        '200':
          description: Health status retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        '503':
          description: System unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'

  /healthz:
    get:
      tags: [Health]
      summary: Simple health probe
      description: Lightweight health check for load balancers and monitoring systems
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            text/plain:
              schema:
                type: string
                example: "OK"

  /readyz:
    get:
      tags: [Health]
      summary: Readiness probe
      description: Checks if the service is ready to accept traffic
      security: []
      responses:
        '200':
          description: Service is ready
          content:
            text/plain:
              schema:
                type: string
                example: "Ready"

  # File Operations
  /files:
    get:
      tags: [Files]
      summary: List workspace files
      description: Lists files in a workspace directory
      security:
        - BearerAuth: []
        - CookieAuth: []
      parameters:
        - name: workspaceId
          in: query
          required: true
          schema:
            type: string
            pattern: ^[a-zA-Z0-9_-]+$
        - name: path
          in: query
          schema:
            type: string
            default: "/"
          description: Directory path to list
        - name: action
          in: query
          schema:
            type: string
            enum: [read, list, metadata]
            default: list
      responses:
        '200':
          description: Files retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        path:
                          type: string
                        type:
                          type: string
                          enum: [file, directory]
                        size:
                          type: integer
                        modified:
                          type: string
                          format: date-time

    post:
      tags: [Files]
      summary: Create or update file
      description: Creates a new file or updates existing file content
      security:
        - BearerAuth: []
        - CookieAuth: []
        - CSRFToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - workspaceId
                - path
                - content
              properties:
                workspaceId:
                  type: string
                  pattern: ^[a-zA-Z0-9_-]+$
                path:
                  type: string
                  description: File path (relative, no ../)
                content:
                  type: string
                  maxLength: 10000000
                  description: File content (max 10MB)
                action:
                  type: string
                  enum: [create, lock, unlock]
                  default: create
      responses:
        '200':
          description: File created/updated successfully
        '400':
          description: Invalid file path or content

  # Vector Search and RAG
  /vector-search:
    post:
      tags: [AI, Vector Search]
      summary: Search workspace content
      description: |
        Performs semantic search across workspace files using vector embeddings.
        Used for retrieval-augmented generation (RAG) in AI responses.
      security:
        - BearerAuth: []
        - CookieAuth: []
        - CSRFToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - workspaceId
                - query
              properties:
                workspaceId:
                  type: string
                  pattern: ^[a-zA-Z0-9_-]+$
                query:
                  type: string
                  minLength: 1
                  maxLength: 5000
                  description: Search query (max 5KB)
                maxResults:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 5
                  description: Maximum number of results
                threshold:
                  type: number
                  minimum: 0
                  maximum: 1
                  default: 0.7
                  description: Similarity threshold
                filter:
                  type: object
                  description: Additional search filters
      responses:
        '200':
          description: Search results retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        content:
                          type: string
                        score:
                          type: number
                        metadata:
                          type: object
                        file:
                          type: string

tags:
  - name: Authentication
    description: User authentication and authorization endpoints
  - name: MFA
    description: Multi-factor authentication management
  - name: AI
    description: AI-powered development assistance
  - name: Chat
    description: Conversational AI interfaces
  - name: Workspaces
    description: Development workspace management
  - name: Files
    description: File system operations
  - name: Vector Search
    description: Semantic search and retrieval
  - name: Health
    description: System health and monitoring
  - name: Monitoring
    description: Application metrics and observability

externalDocs:
  description: VibeCode Documentation
  url: https://docs.vibecode.dev