.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Dependencies - exclude all node_modules
node_modules/**

# Build/test artifacts
*.log
*.md
!README.md
!CHANGELOG.md
!LICENSE.txt
.github/**
scripts/**
.vscodeignore
.github/**

